
<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="IS0-8859-1">
	<title>Home - FranzooWebApp</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<form th:action="@{/}">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>
</head>
<body>
	<div class = "container text-center">
		<div>
			<h1>Welcome to Franzo Social media platform !!!!</h1>
		</div>
		<div>
			<h3><a th:href="@{/register}">Register</a></h3>
		</div>
	</div>
</body>
</html>-->